<div id="aboutWrapperDiv" class="oj-hybrid-padding">

    <div class="oj-panel oj-flex oj-panel-shadow-md">

        <div id="aboutPicturePanel" class="oj-panel oj-flex-item">
            <img alt="aboutPicture" src="../css/images/184313628.jpg" height="300" width="400"/>
        </div>
        <div id="aboutWrapperDiv" class="oj-panel oj-flex-item oj-flex-end">
            <h2>About CalOrders</h2>
            <div class="oj-padding-vertical" />

            <!-- large template -->
            <script type="text/html" id="lg_xl_template">
                <div id="lg_xl" style="width: 40em; word-wrap: break-word;"> <p>CalOrders is a revolutionary products and services ordering solution brought to you by <a href="http://www.oncorellc.com" target="_blank">OnCore Consulting LLC.</a> With CalOrders you can easily order, maintain, and track products and services across multiple vendors. CalOrders is also fully responsive for easy access on mobile, tablet, and computing devices. Thank you and welcome to CalOrders.</p></div>
                </script>

                <!-- small template -->
                <script type="text/html" id="sm_md_template">
                    <div id="sm_md" style="width: 100%; word-wrap: break-word;"> <p>CalOrders is a revolutionary products and services ordering solution brought to you by <a href="http://www.oncorellc.com" target="_blank">OnCore Consulting LLC.</a> With CalOrders you can easily order, maintain, and track products and services across multiple vendors. CalOrders is also fully responsive for easy access on mobile, tablet, and computing devices. Thank you and welcome to CalOrders.</p></div>  
                    </script>

                    <!-- display template -->
                    <div data-bind="template: {name: large() ? 'lg_xl_template' : 
                                             'sm_md_template'}"></div>





                    <div class="oj-padding-vertical" />



                    <p><strong><span data-bind="text: userName"></span></strong></p>
                    <p><strong>CalOrders version: <span data-bind="text: applicationVersion"></span></strong></p>
                </div>
            </div>
        </div>
    </div>