<!--
 * The MIT License
 *
 * Copyright 2017 OnCore Consulting LLC, 2017
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 * -->
<div class="oj-hybrid-padding">
    <h2>Administrator Dashboard</h2>
    <div id="dashboardContainer" class="oj-panel oj-flex oj-panel-shadow-md">


        <!-- LEFT UPPER QUADRAANT -->
        <div id="innerLeftContainer" class="oj-panel oj-flex-item">
 
    
    <h3>Received Orders By Quarter</h3>
    <div id="barChart" data-bind="ojComponent: {
            component: 'ojChart', 
            type: 'bar', 
            series: barSeriesValue, 
            groups: barGroupsValue, 
            animationOnDisplay: 'auto',
            animationOnDataChange: 'auto',
            orientation: orientationValue,
            styleDefaults: {dataLabelPosition: 'auto'},
            stack: stackValue,
            stackLabel: 'on',
            yAxis: {tickLabel: {rendered: 'off'}}
        }"
         style="max-width:500px;width:100%;height:350px;margin-top:20px;">
    </div>
    <div id="myToolbar" aria-label="Chart Display Options Toolbar" aria-controls="barChart"
       data-bind="ojComponent: {component:'ojToolbar'}"
       style="max-width:500px;width:100%;">
        <!-- vertical/horizontal toggle button -->
        <div id="radioButtonset" data-bind="ojComponent: {component: 'ojButtonset', focusManagement:'none', checked: orientationValue, chroming: 'half'}" 
             aria-controls="barChart" aria-label="Choose an orientation.">
            <!-- ko foreach: orientationOptions -->
              <label data-bind="attr: {for: id}"></label>
              <input type="radio" name="orientation"
                   data-bind="value: value, attr: {id: id},
                   ojComponent: {component: 'ojButton', label: label, 
                                     icons: {start: icon}, display: 'icons'}"/>
            <!-- /ko -->
        </div>
        <span role="separator" aria-orientation="vertical" class="oj-toolbar-separator"></span>
        <!-- unstacked/stacked toggle button -->
        <div id="radioButtonset2" data-bind="ojComponent: {component: 'ojButtonset', focusManagement:'none', checked: stackValue, chroming: 'half', optionChange: stackLValueChange}" 
             aria-controls="barChart" aria-label="Choose a stack setting.">
            <!-- ko foreach: stackOptions -->
              <label data-bind="attr: {for: id}"></label>
              <input type="radio" name="stack"
                   data-bind="value: value, attr: {id: id},
                   ojComponent: {component: 'ojButton', label: label, 
                                     icons: {start: icon}, display: 'icons'}"/>
            <!-- /ko -->
        </div>
    </div>

        </div>



        <!-- UPPER RIGHT QUADRANT -->
        <div id="innerRightContainer" class="oj-panel oj-flex-item">

            <h3>Current Order Status Summary</h3>
            <div id='activeOrdersPanel'>

                <div id="pieChart" data-bind="ojComponent: {
                component: 'ojChart', 
                type: 'pie', 
                series: pieSeriesValue,
                animationOnDisplay: 'auto',
                animationOnDataChange: 'auto',
                styleDefaults: {
                threeDEffect: ko.toJS(threeDValue), 
                dataLabelPosition: 'auto'
            }
        }"
                     style="max-width:500px;width:100%;height:350px;">
                </div>
                <!-- 2d/3d toggle button -->
                <div id="radioButtonset2" class="oj-buttonset-width-auto" aria-label="Choose only one setting." aria-controls="pieChart"
                     data-bind="ojComponent: {component: 'ojButtonset', checked: threeDValue, optionChange: threeDValueChange}">
                    <!-- ko foreach: threeDOptions -->
                    <label data-bind="attr: {for: id}"></label>                               
                    <input type="radio" name="threeD"
                           data-bind="value: value, attr: {id: id},
                   ojComponent: {component: 'ojButton', label: label}"/>
                    <!-- /ko -->
                </div>

            </div>
        </div>

    </div>








<!--    <div id="dashboardLowerContainer" class="oj-panel oj-flex">


         LEFT BOTTOM QUADRAANT 
        <div id="innerLeftBottomContainer" class="oj-panel oj-flex-item">

            <h3>Total Sold by Month</h3>

            <div id='innerLeftBottomchart-container'>
                <div id="expensesChart" data-bind="ojComponent: {
        component: 'ojChart', 
        type: 'line',
        series: expenseSeriesValue, 
        groups: expenseGroupsValue, 
        animationOnDisplay: 'auto',
        animationOnDataChange: 'auto',
        orientation: orientationValue,
        hoverBehavior: 'dim'
        }"
                     style="max-width:500px;width:100%;height:350px;">
                </div>

            </div>



        </div>



         LOWER RIGHT QUADRANT 
        <div id="innerBottomRightContainer" class="oj-panel oj-flex-item">

            <h3>Orders by Agency</h3>

            <div id='innerRightBottomchart-container'>
                <div id="ptoChart" data-bind="ojComponent: {
        component: 'ojChart', 
        type: 'line',
        series: ptoSeriesValue, 
        groups: ptoGroupsValue, 
        animationOnDisplay: 'auto',
        animationOnDataChange: 'auto',
        orientation: orientationValue,
        hoverBehavior: 'dim'
        }"
                     style="max-width:500px;width:100%;height:350px;">
                </div>

            </div>

        </div>
        
        
        
        
        
        
        
        
        
        
        
        

    </div>-->
    
    
    
    
    
    
    
    
</div>