<!--
 * The MIT License
 *
 * Copyright 2017 OnCore Consulting LLC, 2017
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 * -->
<div id="orderHistoryWrapper" class="oj-hybrid-padding">

    <!-- Page Title -->
    <div id="pageTitleContainer" class="oj-flex-item oj-sm-2">
        <h2 style="margin-bottom:0">Order History</h2>
    </div>

    <div class="oj-panel oj-flex">
        <!-- buttons -->
        <div class="oj-flex-item">    
            <button id= "refresh" type="button"
                    data-bind="click: refreshClick, ojComponent: { component: 'ojButton', label: 'Refresh' }">
            </button>             
            <div class="oj-padding-vertical"></div>
        </div>
        <div id="orderHistoryTableContent" class="oj-sm-12 oj-flex-item">
            <div id="orderHistoryTable">
                <table id="table" summary="Order History Table" aria-label="Order History Table"
                       data-bind="ojComponent: {component: 'ojTable', beforeCurrentRow:   currentRowListener,
                                selectionMode: {row: 'single', column: 'multiple'} ,
                                data: datasource,
                                display: 'grid',
                                columnsDefault: {sortable: 'enabled'}, 
                                columns: [
                                  {headerText: 'Order No.', field: 'orderHistoryId', sortable: 'enabled'},
                                  {headerText: 'Date', field: 'orderDate', sortable: 'enabled', renderer: orderDateRenderer},
                                  {headerText: 'Status', field: 'orderStatus', sortable: 'enabled'},   
                                  {headerText: 'PO No.', field: 'orderPoNumber', sortable: 'enabled', headerClassName: 'oj-sm-only-hide', className: 'oj-sm-only-hide'},
                                  {headerText: 'Agency', field: 'orderAgency', sortable: 'enabled', headerClassName: 'oj-sm-only-hide', className: 'oj-sm-only-hide'},
                                  {headerText: 'Price', field: 'orderPrice', sortable: 'enabled', headerClassName: 'oj-sm-only-hide', className: 'oj-sm-only-hide',renderer: priceRenderer},
                                  {headerText: 'Description', field: 'orderDescription', sortable: 'enabled', headerClassName: 'oj-sm-only-hide', className: 'oj-sm-only-hide'}], 
                                 rootAttributes: {'style':'width: 100%;'}}">
                </table>
                <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: datasource, pageSize: 10}">
                </div>
            </div>
        </div>
    </div>
</div>
