<!--
 * The MIT License
 *
 * Copyright 2017 OnCore Consulting LLC, 2017
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 * -->
<div id="productSearchWrapperDiv" class="oj-hybrid-padding">

    <!-- Page Title -->
    <div id="pageTitleContainer" class="oj-flex-item oj-sm-2">
        <h1 style="margin-bottom:0">Products</h1>
    </div>

    <!-- Page Content -->
    <div class="oj-panel oj-flex oj-sm-flex-wrap-nowrap">
        
        <!-- Product Left Hand Navigation Panel -->
        <div id="productSearchNavigationPanel" class="oj-panel oj-sm-2 oj-flex-item">
            <div id="navlistcontainer" style="max-width:300px" >
                <div data-bind="ojComponent:{
                        component: 'ojNavigationList',
                        drillMode: 'none',
                        item: {selectable: itemOnly},
                        selection: selectedProductMenuItem}">
                    <ul>
                        <li id="hardware" >
                            <a href="#" >Hardware</a>
                            <ul >
                                <li id="desktops">
                                    <a href="#" data-bind="click: function() {searchProducts('desktops')}">Desktops</a>
                                </li>
                                <li id="laptops">
                                    <a href="#" data-bind="click: function() {searchProducts('laptops')}">Laptops</a>
                                </li>
                                <li id="monitors">
                                    <a href="#" data-bind="click: function() {searchProducts('monitors')}" >Monitors</a>
                                </li>
                                <li id="printers">
                                    <a href="#" data-bind="click: function() {searchProducts('printers')}" >Printers</a>
                                </li>
                                <li id="projectors">
                                    <a href="#" data-bind="click: function() {searchProducts('projectors')}" >Projectors</a>
                                </li>
                            </ul>
                        </li>
                        <li id="software">
                            <a href="#" >Software</a>
                            <ul >
                                <li id="operatingSystems">
                                    <a href="#" data-bind="click: function() {searchProducts('os')}" >OS</a>
                                </li>
                                <li id="office">
                                    <a href="#" data-bind="click: function() {searchProducts('office')}" > Office</a>
                                </li>
                                <li id="antivirus">
                                    <a href="#" data-bind="click: function() {searchProducts('antivirus')}" > Antivirus</a>
                                </li>
                                <li id="utilities">
                                    <a href="#" data-bind="click: function() {searchProducts('utilities')}" >Utilities</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Product Search Results Panel -->
        <div id="productSearchWrapperDiv" class="oj-panel oj-flex-item oj-sm-flex-wrap-nowrap">
            <div class="justifyCenter">
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item oj-sm-12" style="padding-bottom: 10px">
                        <div class="oj-flex oj-flex-items-pad oj-sm-align-items-flex-end">

                            <!-- Product search field -->
                            <div class="oj-flex-item oj-sm-8  oj-flex oj-md-justify-content-center">
                                <div class="oj-flex-item" style="max-width: 400px; white-space: nowrap">
                                    <input aria-label="search box" placeholder="search" data-bind="value: nameSearch, valueUpdate: 'afterkeydown', ojComponent: {component: 'ojInputText', rootAttributes:{'style':'max-width:100%;'}}"/>
                                    <div id="searchIcon" class="demo-icon-sprite demo-icon-search demo-search-position"></div>
                                </div>
                            </div>

                            <!-- Product Search Result type -->
                            <div class="oj-flex-item oj-sm-2">
                                <div id="layoutSet" class="oj-buttonset-width-auto" aria-label="Choose layout type."  style="float: right" data-bind="ojComponent: {component: 'ojButtonset', checked: productLayoutType}">
                                    <label for="cardLayout"></label>
                                    <input id="cardLayout" type="radio" name="layoutGroup" value="productCardLayout"
                                           data-bind="click: cardLayoutHandler,  ojComponent: {
                                                component:'ojButton',
                                                display: 'all',
                                                icons: {start:'demo-grid-icon-16 demo-icon-font'},
                                                label: 'Card'
                                                }"/>
                                    <label for="listLayout"></label>
                                    <input id="listLayout" type="radio" name="layoutGroup" value="productListLayout"
                                           data-bind="click: listLayoutHandler,  ojComponent: {
                                                component:'ojButton',
                                                display: 'all',
                                                icons: {start:'demo-icon-font demo-list-icon-16'},
                                                label: 'List'
                                                }"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product Search Results (uses either productCardLayout or productListLayout) -->
                <!-- ko if: ready -->
                <div id="productlistview" >
                    <div class="oj-flex oj-flex-items-pad oj-sm-flex-direction-column" data-bind="template: productLayoutType()"></div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>

<!-- start add cart dialog box -->
<div id="addToCartConfirmationDialogWrapper">
    <div style="display:none" id="addToCartConfirmationDialog" title="Product Added Successfully" 
         data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide'}">

        <div class="oj-dialog-body">

            <div class="oj-flex">
                <div class="oj-flex-item">
                    <img alt="product image"  data-bind="attr: {src: addedProductPhoto}" height="100" width="100"/>
                </div>

                <div class="oj-flex-item oj-sm-justify-content-center">
                    Added to cart

                </div>
            </div>
        </div>
        <div class="oj-dialog-footer">
            <div class="dialogButtonLeft">
                <button id= "continueShopping"
                        data-bind="click: navigateToProductSearch, ojComponent: { component: 'ojButton', label: 'Continue Shopping'}">
                </button> 
            </div>

            <div class="dialogButtonRight">
                <button id= "cart"
                        data-bind="click: navigateToCart, ojComponent: { component: 'ojButton', label: 'Cart'}">
                </button> 
            </div>

        </div>
    </div>
</div>
<!-- end add cart dialog box-->

<!-- Product Card View -->
<script id="productCardLayout" type="text/html">
    <div class="oj-flex oj-flex-items-pad">
        <ul id="listviewcard"
            class="oj-flex oj-listview-card-layout"
            data-bind="ojComponent: {component: 'ojListView',
                data: cardViewDataSource,
                rootAttributes: {'style': 'width:100%'},
            item: {template: 'productcard_template'}}">
        </ul>
    </div>
    <div class="oj-flex oj-flex-items-pad">
        <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', mode: 'loadMore', data: cardViewDataSource, pageSize: 12}">
        </div>
    </div>
</script>

<!-- Product Card view (card format)  -->
<script id="productcard_template" type="text/html">
    <li class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-4 oj-xl-3" data-bind="event:{keypress:$parent.onEnter}" style="margin:0;border-style:none">
        <div class="oj-panel oj-panel-alt1" style="margin: 5px 0px 10px 0px;">

            <div data-bind="click: $parent.navigateToProductDetail">

                <div class="oj-flex-item oj-sm-4">
                    <img alt="product image"  data-bind="attr: {src: $parent.getPhoto($data['productId'])}" height="100" width="100"/>
                </div>
                <div class="oj-flex-item">
                    <h3 aria-label="product description" data-bind="text: $data['description']" tabindex="0"></h3>
                    <div data-bind="text: $data['price']"></div>
                </div>
            </div>

            <div class="oj-padding-vertical"></div>

            <div class="oj-flex-item">
                <button id= "addToCart" data-bind="click: $parent.addToCart, ojComponent: { component: 'ojButton', label: 'Add to Cart'}"></button> 
            </div>
        </div>
    </li>
</script>

<!-- Product List view -->
<script id="productListLayout" type="text/html">
    <ul id="listview"
        data-bind="ojComponent: {
                                component: 'ojListView',
                                data: listViewDataSource,
                                item: {template: 'productlist_template'},
                                selectionMode: 'single',
                                currentItem: '205',
                                selection: ['205'],
                                optionChange: changeHandler,
                                rootAttributes: {style: 'width:100%;height:100vh;overflow:auto; margin-top: 5px'},
                                scrollPolicy: 'loadMoreOnScroll',
                                scrollPolicyOptions: {fetchSize: 10}}">
    </ul>
</script>

<!-- Product List view (row format) -->
<script id="productlist_template" type="text/html">
    <li class="oj-flex-item oj-sm-12" data-bind="click: $parent.navigateToProductDetail">
        <div>
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-lg-4 oj-md-4">
                    <img alt="product image" class="demo-circular demo-employee-photo" style="float:left;" height="100" width="100" data-bind="attr: {src: $parent.getPhoto($data['productId'])}"/>
                    <h2 class="demo-employee-name" data-bind="text: $data['description']"></h2>
                </div>
                <div class="oj-flex-item oj-lg-5 oj-md-4">
                    <div class="oj-flex-item oj-sm-only-hide oj-md-4 oj-md-float-end">
                        <button id= "addToCart" data-bind="click: $parent.addToCart, ojComponent: { component: 'ojButton', label: 'Add to Cart'}"></button>
                    </div>
                    <div class="oj-flex-item oj-sm-only-hide oj-md-4 oj-md-float-end">
                        <div class="demo-employee-tenure" data-bind="text: $data['price']"></div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</script>