<!DOCTYPE html>
<!--
The OnCore Consulting LLC License

Copyright 2016 OnCore Consulting LLC, All Rights Reserved.

Permission IS NOT GRANTED to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, unless the following conditions are met:

Written permission is obtained from  
OnCore Consulting LLC and the above copyright 
notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<div id="productAddWrapper" class="oj-hybrid-padding">

    <div class="oj-form">


        <!-- success dialog box -->
        <div id="dialogWrapper">
            <div style="display:none" id="modalDialog1" title="Success" 
                 data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide'}">
                <div class="oj-dialog-body">
                    The product was successfully created.
                </div>
                <div class="oj-dialog-footer">
                    <button id= "close"
                            data-bind="click: closeClickEvent, ojComponent: { component: 'ojButton', label: 'OK'}">
                    </button> 
                </div>
            </div>
        </div>
        <!-- end success dialog box -->


        <h2>Add Product</h2>
        <!-- global error messages -->
        <div class="oj-messaging-inline-container" id="pageError" aria-live="polite" hidden>
            <div class="oj-message oj-message-error">
                <span class="oj-component-icon oj-message-status-icon oj-message-error-icon" title="Error" role="img"></span>
                <span class="oj-message-content">
                    <div class="oj-message-summary">System Error</div>
                    <div class="oj-message-detail">
                        <span id="pageErrorDetail">ERROR</span>
                    </div>

                </span>
            </div>

        </div>
        <!-- end global error message -->
        <div class='oj-panel oj-form-layout'>
            <div id="productAddContent" class="oj-flex">



                <div class="oj-padding-vertical"></div>

                <div class="oj-padding-vertical"></div>

                <div id="productContentPanel" class="oj-panel oj-flex-item oj-panel-shadow-md">
                    <div class='oj-form-layout'>
                        <!-- Product Name -->
                        <div class="oj-flex">  
                            <div class="oj-flex-item">
                                <label for="productName">Product Name:</label>
                                <input id="productName"  type="text" required 
                                       data-bind="ojComponent: {
                                                component: 'ojInputText', 
                                                value:productName, required: true,
                                                validators: [{type: 'regExp', options: {
                                                    pattern: '[:\\-!@#$%^&*,?.;:()+={}<>®\'\&quot\\w\\s]{1,128}',
                                                    hint: 'Enter a product name that is less than 128 alphanumeric characters (including the following characters :-!@#$%^&*();?+={}<>,\'\&quot',
                                                    messageDetail: 'The product name must be less than 128 alphanumeric characters (including the following characters :-!@#$%^&*();?+={}<>,\'\&quot'} },
                                                    validateProductName],
                                                        messagesCustom: productNameMessage,
                                                   invalidComponentTracker: tracker}">
                            </div>
                        </div>

                        <div id='productActiveStatus-container'>
                            <div class='oj-flex-bar'>
                                <div class='oj-flex-bar-start'>      
                                    <label id="productActiveStatusLabelId"  
                                           class="oj-label-inline">Product Status:</label>
                                </div>
                                <div class='oj-flex-bar-middle'>                 
                                    <div id='productStatusRadioSet' data-bind="ojComponent: {component: 'ojRadioset', value: productActiveStatus}" 
                                         aria-labelledby="productActiveStatusLabelId">
                                        <span class="oj-choice-row-inline">
                                            <input id="active" type="radio" 
                                                   value="1" name="productActiveStatusSet" >
                                            <label for="active">Active</label>
                                        </span>
                                        <span class="oj-choice-row-inline">
                                            <input id="inactive" type="radio" 
                                                   value="0" name="productActiveStatusSet">
                                            <label for="inactive">Inactive</label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Product OEM Name -->
                        <div class="oj-flex">  
                            <div class="oj-flex-item">
                                <label for="productOEMName">Product OEM Name:</label>
                                <input id="productOEMName"  type="text" required maxlength="45"
                                       data-bind="ojComponent: {
                                                component: 'ojInputText', 
                                                value:productOEMName, required: true,
                                                validators: [{type: 'regExp', options: {
                                                    pattern: '[:\\-!@#$%^&*/,?.;:()+={}<>\'\&quot\\w\\s]{1,45}',
                                                    hint: 'Enter a product OEM name that is less than 45 alphanumeric characters (including the following characters :-!@#$%^&*/();?+={}<>,\'\&quot',
                                                    messageDetail: 'The product OEM name must be less than 45 alphanumeric characters (including the following characters :-!@#$%^&*/();?+={}<>,\'\&quot'} }
                                                    ],
                                                   invalidComponentTracker: tracker}">
                            </div>
                        </div>

                        <!-- Product OEM Part Number -->
                        <div class="oj-flex">  
                            <div class="oj-flex-item">
                                <label for="productOEMPartNumber">Product OEM Part Number:</label>
                                <input id="productOEMPartNumber"  type="text" required maxlength="45"
                                       data-bind="ojComponent: {
                                                component: 'ojInputText', 
                                                value:productOEMPartNumber, required: true,
                                                validators: [{type: 'regExp', options: {
                                                    pattern: '[:\\-!@#$%^&*/,?.;:()+={}<>\'\&quot\\w\\s]{1,45}',
                                                    hint: 'Enter a product OEM part number that is less than 45 alphanumeric characters (including the following characters :-!@#$%^&*/();?+={}<>,\'\&quot',
                                                    messageDetail: 'The product OEM part number must be less than 45 alphanumeric characters (including the following characters :-!@#$%^&*/();?+={}<>,\'\&quot'} }
                                                    ],
                                                   invalidComponentTracker: tracker}">
                            </div>
                        </div>

                        <!-- Product SKU -->
                        <div class="oj-flex">  
                            <div class="oj-flex-item">
                                <label for="productSKU">Product SKU:</label>
                                <input id="productSKU"  type="text" required maxlength="45"
                                       data-bind="ojComponent: {
                                                component: 'ojInputText', 
                                                value:productSKU, required: true,
                                                validators: [{type: 'regExp', options: {
                                                    pattern: '[:\\-!@#$%^&*/,?.;:()+={}<>\'\&quot\\w\\s]{1,45}',
                                                    hint: 'Enter a product SKU that is less than 45 alphanumeric characters (including the following characters :-!@#$%^&*/();?+={}<>,\'\&quot',
                                                    messageDetail: 'The product SKU must be less than 45 alphanumeric characters (including the following characters :-!@#$%^&*/();?+={}<>,\'\&quot'} }
                                                    ],
                                                   invalidComponentTracker: tracker}">
                            </div>
                        </div>

                        <!-- Product Contract Line Item -->
                        <div class="oj-flex">  
                            <div class="oj-flex-item">
                                <label for="productContractLineItem">Product Contract Line Item:</label>
                                <input id="productContractLineItem"  type="text" maxlength="45"
                                       data-bind="ojComponent: {
                                                component: 'ojInputText', 
                                                value:productContractLineItem, 
                                                validators: [{type: 'regExp', options: {
                                                    pattern: '[:\\-!@#$%^&*/,?.;:()+={}<>\'\&quot\\w\\s]{1,45}',
                                                    hint: 'Enter a product contract line item that is less than 45 alphanumeric characters (including the following characters :-!@#$%^&*/();?+={}<>,\'\&quot',
                                                    messageDetail: 'The product contract line item must be less than 45 alphanumeric characters (including the following characters :-!@#$%^&*/();?+={}<>,\'\&quot'} }
                                                    ],
                                                   invalidComponentTracker: tracker}">
                            </div>
                        </div>

                        <!-- Product Category -->
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <label for="productCategory">Product Category:</label>
                                <select id="productCategory" title="Select a category from the list" 
                                        data-bind="ojComponent: {
                                    component: 'ojSelect',
                                  
                                    value: productCategory, required: true,
                                    options: categories,
                                    validators: [validateProductCategory],
                                    invalidComponentTracker: tracker,
                                    messagesCustom: productCategoryMessages}">
                                </select>                                
                            </div>
                        </div>

                        <!-- Vendor -->
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <label for="vendor">Vendor:</label>
                                <select id="vendor" title="Select a vendor from the list" 
                                        data-bind="ojComponent: {
                                component: 'ojSelect', value: vendor, required: true,
                                    options: vendors,
                                    validators: [validateVendor],
                                    invalidComponentTracker: tracker,
                                    messagesCustom: vendorMessages}">
                                </select>                                
                            </div>
                        </div>

                        <!-- Product Unit Code -->
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <label for="productUnitCode">Product Unit Code:</label>
                                <select id="productUnitCode" title="Select a unit code from the list"
                                        data-bind="ojComponent: {
                                    component: 'ojSelect', value: productUnitCode, required: true,
                                    options: productUnitCodes,
                                    validators: [validateProductUnitCode],
                                    invalidComponentTracker: tracker,
                                    messagesCustom: productUnitCodeMessages}">
                                </select>                                
                            </div>
                        </div>

                        <!-- Product Price -->
                        <div class="oj-flex"> 
                            <div class="oj-flex-item">
                                <label for="productPrice">Product Price:</label>
                                <input id="productPrice" type="text"  required maxlength="9"
                                       data-bind="event: { change: computeContractPrice} , ojComponent: {
                                    component: 'ojInputText', 
                                    value: productPrice, 
                                    required: true,  
                                    validators: [{type: 'regExp', options: {
                                                 pattern: '[0-9]+(\.[0-9][0-9]?)?',
                                                 hint: 'Enter a price that is a currency value',
                                                 messageDetail: 'The price must be a currency value'} }],
                                    invalidComponentTracker: tracker}">
                            </div>
                        </div>

                        <!-- Product Contract Discount -->
                        <div class="oj-flex"> 
                            <div class="oj-flex-item">
                                <label for="productContractDiscount">Product Contract Discount:</label>
                                <input id="productContractDiscount" type="text"  maxlength="2"
                                       data-bind="event: { change: computeContractPrice} ,ojComponent: {
                                    component: 'ojInputText', 
                                    value: productContractDiscount, 
                                    required: true,  
                                    validators: [{type: 'regExp', options: {
                                                 pattern: '[0-9]{1,2}',
                                                 hint: 'Enter a percentage discount that is number',
                                                 messageDetail: 'The percentage discount must be 2 digit number'} }],
                                    invalidComponentTracker: tracker}">
                            </div>
                        </div>

                        <!-- Product Contract Unit Price -->
                        <div class="oj-flex"> 
                            <div class="oj-flex-item">
                                <label id="productContractUnitPriceLabel" for="productContractUnitPrice">Product Contract Unit Price:</label>
                                <span id="productContractUnitPrice" data-bind="text:productContractUnitPriceDisplay" aria-labelledby="productContractUnitPriceLabel"></span>
                            </div>
                        </div>
                        <br>
                        <!-- Product Description -->
                        <div class="oj-flex"> 
                            <div class="oj-flex-item">
                                <label for="productDescription">Product Description:</label>
                                <textarea id="productDescription" type="text"  required  style="min-height: 5em; resize: both;"
                                          data-bind="ojComponent: {
                                    component: 'ojTextArea', rootAttributes: {
                                            style:'max-width:75%'},
                                    value: productDescription, 
                                    required: true,  
                                    validators: [{type: 'regExp', options: {
                                                 pattern: '[:\\-!@#$%^&*/,?.;:()+={}<>\'\&quot\\w\\s]{1,128}',
                                                 hint: 'Enter a brief product description that is less than 128 alphanumeric characters (including the following characters :-!@#$%^&*/();?+={}<>,\'\&quot',
                                                 messageDetail: 'The brief product description must be less than 128 alphanumeric characters (including the following characters :-!@#$%^&*/();?+={}<>,\'\&quot'} }],
                                    invalidComponentTracker: tracker}"></textarea>
                            </div>
                        </div>

                        <!-- Full Product Description -->
                        <div class="oj-flex"> 
                            <div class="oj-flex-item">
                                <label for="productFullDesc">Full Product Description:</label>
                                <textarea id="productFullDesc" type="text"  required style="min-height: 15em;resize: both;"
                                          data-bind="ojComponent: {
                                    component: 'ojTextArea', rootAttributes: {
                                            style:'max-width:75% '},
                                    value: productFullDesc, 
                                    required: true,  
                                    validators: [{type: 'regExp', options: {
                                                 pattern: '[:\\-!@#$%^&*/,?.;:()+={}<>\'\&quot\\w\\s]{1,2048}',
                                                 hint: 'Enter a full product description that is less than 2048 alphanumeric characters (including the following characters :-!@#$%^&*/();?+={}<>,\'\&quot',
                                                 messageDetail: 'The full product description must be less than 2048 alphanumeric characters (including the following characters :-!@#$%^&*/();?+={}<>,\'\&quot'} }],
                                    invalidComponentTracker: tracker}"></textarea>
                            </div>
                        </div>


                    </div>
                </div>
                <div id="productPicturePanel" class="oj-panel oj-flex-item">

                    <img alt="product" data-bind="attr: {
                        id: 'productImage', 
                        src: getPhoto(), 
                        height: medium() ? '400' : '200',
                        width: medium() ? '400' : '200'}"/>

                    <div id="dialogWrapper">
                        <div style="display:none" id="modalDialog2" title="File Upload Error" 
                             data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide'}">
                            <div class="oj-dialog-body">
                                This file type is not allowed. Allowed file types for upload are PNG, JPG,
                                or PDF only.
                            </div>
                            <div class="oj-dialog-footer">          
                                <button id= "okButton"
                                        data-bind="click: closeImageDialogClick, ojComponent: { component: 'ojButton', label: 'OK'}">
                                </button> 
                            </div>
                        </div>

                    </div>              


                    <div class="oj-flex-item">
                        <label for="uploadFile">Product Image:</label>
                        <input id="uploadFile" type="file" class="oj-form-control oj-inputtext-nocomp" data-bind="fileUpload: uploadFile">

                        <button id= "clearImage" 
                                data-bind="click: resetClickEvent, ojComponent: { component: 'ojButton', label: 'Reset' }">
                        </button> 
                        <button id= "uploadImage"  
                                data-bind="click: uploadImageClick, ojComponent: { component: 'ojButton', label: 'Upload' }">
                        </button> 

                    </div>
                </div>


            </div>





            <div id="productButtonPanel" class="oj-flex">

                <div class="oj-padding-vertical"></div>

                <div class="oj-panel oj-flex-item">   
                    <div class="oj-flex">
                        <button id= "cancel"
                                data-bind="click: buttonClick, ojComponent: { component: 'ojButton', label: 'Cancel' }">
                        </button>

                        <div class="oj-padding-horizontal"></div>

                        <button id= "save"
                                data-bind="click: buttonClick, ojComponent: { component: 'ojButton', label: 'Save' }">
                        </button> 
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
