<!--
 * The MIT License
 *
 * Copyright 2017 OnCore Consulting LLC, 2017
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 * -->
<div id="productSearchWrapperDiv" class="oj-hybrid-padding">

    <!-- Page Title -->
    <div id="pageTitleContainer" class="oj-flex-item oj-sm-6">
        <h2 style="margin-bottom:0">Product Detail</h2>
    </div>

    <!-- global error messages -->
    <div class="oj-flex-item oj-messaging-inline-container" id="pageErrorContainer" aria-live="polite" hidden>
        <div class="oj-padding-vertical"></div>
        <div class="oj-message oj-message-error">
            <div class="oj-component-icon oj-message-status-icon oj-message-error-icon" title="Error" role="img"></div>
            <div class="oj-message-content">
                <div class="oj-message-summary">Error</div>
                <div class="oj-message-detail">
                    <span data-bind="text: errorMessage"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- end global error message -->

    <!-- Page Content -->

    <div class="oj-panel oj-flex-item oj-panel-shadow-md">

        <!-- Bread crumbs -->
        <div id="productSearchBreadcrumbs" class="oj-sm-only-hide">
            <span data-bind="text: productsToCompareBreadcrumbs"></span>
            <div class="oj-padding-vertical"></div>
        </div>

        <div class="oj-flex ">
            <div class="oj-flex-item">
                <a data-bind="click: navigateToProductSearch">Back to Search Results</a>
            </div>
             <!-- ko if: admin -->
            <div class="oj-flex-item">
               
                <!-- ko if: ready -->
                <button id= "productUpdate" style="float: right" data-bind="click: navigateToProductUpdate, ojComponent: { component: 'ojButton', label: 'Update Product'}"></button>
                <!-- /ko -->
                
            </div>
             <!-- /ko -->
        </div>

        <div class="oj-padding-vertical"></div>


        <div class="oj-flex">
            <!-- Image -->
            <div class="oj-flex-item">

                <img alt="product" data-bind="attr: {
                        id: 'productImage' + prdUid(), 
                        src: getPhoto(), 
                        height: medium() ? '400' : '200',
                        width: medium() ? '400' : '200'}"/>  
            </div>


            <div class="oj-flex-item oj-sm-6">
                <h3 class="product-detail-name" aria-label="product name" data-bind="text: product().prdName" tabindex="0"></h3>

                <div class="oj-padding-vertical"></div>

                <div class="product-detail-label">List Price:</div>
                <div data-bind="text: getPrice(product().prdPrice)"></div>

                <div class="oj-padding-vertical"></div>

                <div class="product-detail-label">Discount Price:</div>
                <div class="product-detail-price" data-bind="text: getPrice(product().prdCntrUnitPrice) + ' (' + product().prdCntrDiscount +'%)'"></div>

                <!-- ko if: admin -->
                <div class="oj-padding-vertical"></div>
                <div class="product-detail-label">Status:</div>
                <div data-bind="text: product().prdActiveInd === 1 ? 'Active' : 'Inactive'"></div>
                <!-- /ko -->

                <!-- ko if: user -->
                <div class="oj-padding-vertical"></div>

                <div class="oj-flex">
                    <div class="oj-flex-item">
                        <input class="product-quantity" id="quantity" data-bind="value: product().quantity" aria-label="quantity" type="number" min="1" max="10000"/>

                        <div class="oj-padding-vertical"></div>

                        <button id= "addToCart" data-bind="click: addToCart, ojComponent: { component: 'ojButton', label: 'Add to Cart'}"></button>
                    </div>
                </div>
                <!-- /ko -->
            </div>


        </div>







        <div class="oj-padding-vertical"></div>

        <div id="detailTabs">
            <div id="tabs" data-bind="ojComponent:{component: 'ojTabs'}">
                <!-- tab bar -->
                <ul>
                    <li><span>Description</span></li>
                    <li><span>Specifications</span></li>
                </ul>

                <!-- tab contents -->
                <div id="tabs-1">
                    <div class="oj-panel oj-flex-item ">
                        <div class="product-detail-value" data-bind="foreach: product().prdLongDescLines">
                            <p data-bind="text: $data"></p>
                        </div>
                    </div>
                </div>
                <div id="tabs-2">
                    <div class="oj-flex">
                        <div class="oj-flex-item oj-sm-6 oj-md-2 product-detail-specification-label">Vendor:</div> 
                        <div class="oj-flex-item oj-sm-6 oj-md-10 product-detail-value" data-bind="text: product().vndName"></div>
                    </div>

                    <div class="oj-flex">
                        <div class="oj-flex-item oj-sm-6 oj-md-2 product-detail-specification-label">SKU:</div> 
                        <div class="oj-flex-item oj-sm-6 oj-md-10 product-detail-value" data-bind="text: product().prdSku"></div>
                    </div>
                    <div class="oj-flex">
                        <div class="oj-flex-item oj-sm-6 oj-md-2 product-detail-specification-label">Contract Line Item:</div> 
                        <div class="oj-flex-item oj-sm-6 oj-md-10 product-detail-value" data-bind="text: product().prdCntrLnItm"></div>
                    </div>
                    <div class="oj-flex">

                        <div class="oj-flex-item oj-sm-6 oj-md-2 product-detail-specification-label">Manufacturer:</div> 
                        <div class="oj-flex-item oj-sm-6 oj-md-10 product-detail-value" data-bind="text: product().prdOemName"></div>
                    </div>
                    <div class="oj-flex">

                        <div class="oj-flex-item oj-sm-6 oj-md-2 product-detail-specification-label">Manufacturer Part Number:</div> 
                        <div class="oj-flex-item oj-sm-6 oj-md-10 product-detail-value" data-bind="text: product().prdOemPartNum"></div>
                    </div>
                    <div class="oj-flex">

                        <div class="oj-flex-item oj-sm-6 oj-md-2 product-detail-specification-label">Product Unit:</div> 
                        <div class="oj-flex-item oj-sm-6 oj-md-10 product-detail-value" data-bind="text: product().unitLongDesc"></div>
                    </div>
                    <div class="oj-flex">

                        <div class="oj-flex-item oj-sm-6 oj-md-2 product-detail-specification-label">Category:</div> 
                        <div class="oj-flex-item oj-sm-6 oj-md-10 product-detail-value" data-bind="text: product().categoryLongDesc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start add cart dialog box -->
<div id="addToCartConfirmationDialogWrapper">
    <div style="display:none" id="addToCartConfirmationDialog" title="Successfully Added to Cart" 
         data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide'}">

        <div class="oj-dialog-body">

            <div class="oj-flex">
                <div class="oj-flex-item">
                    <img alt="product"  data-bind="attr: {src: addedProductPhoto}" height="100" width="100"/>
                </div>

                <div class="oj-flex-item oj-sm-justify-content-center">
                    <span data-bind="text: 'Product '"></span>
                    <span class="confirmation-product-name" data-bind="text: addedProductName"></span>
                    <span data-bind="text: ' has been added to your cart'"></span>
                </div>
            </div>
        </div>
        <div class="oj-dialog-footer">
            <div class="dialogButtonLeft">
                <button id= "continueShopping"
                        data-bind="click: navigateToProductSearch, ojComponent: { component: 'ojButton', label: 'Continue Shopping'}">
                </button> 
            </div>

            <div class="dialogButtonRight">
                <button id= "cart"
                        data-bind="click: navigateToCart, ojComponent: { component: 'ojButton', label: 'View Cart'}">
                </button> 
            </div>

        </div>
    </div>
</div>
<!-- end add cart dialog box-->
