<!--
 * The MIT License
 *
 * Copyright 2017 OnCore Consulting LLC, 2017
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 * -->
<div id="productCompareWrapperDiv" class="oj-hybrid-padding">

    <!-- Page Title -->
    <div id="pageTitleContainer" class="oj-flex-item oj-sm-6">
        <h2 style="margin-bottom:0">Product Compare</h2>
    </div>

    <div class="oj-padding-vertical"></div>

    <!-- Bread crumbs -->
    <div id="productSearchBreadcrumbs" class="oj-sm-only-hide">
        <span data-bind="text: productsToCompareBreadcrumbs"></span>
        <div class="oj-padding-vertical"></div>
    </div>

    <a data-bind="click: navigateToProductSearch">Back to Search Results</a>

    <table class="product-compare-table">
        <tr>
            <td class="product-detail-name">Product</td>
            <td>
                <img alt="product" data-bind="attr: {
                        id: 'productImage' + productsToCompare()[0].prdUid, 
                        src: getPhoto(productsToCompare()[0]), 
                        height: large() ? '300' : '150',
                        width: large() ? '300' : '150'}"/>
                <div class="oj-flex-item">
                    <h3 aria-label="product name" data-bind="text: productsToCompare()[0].prdName" tabindex="0"></h3>
                    <div class="product-detail-label">List Price:</div>
                    <div data-bind="text: '$' + productsToCompare()[0].prdPrice"></div>

                    <div class="oj-padding-vertical"></div>

                    <div class="product-detail-label">Discount Price:</div>
                    <div class="product-detail-price" data-bind="text: '$' + productsToCompare()[0].prdCntrUnitPrice + ' (' + productsToCompare()[0].prdCntrDiscount +'%)'"></div>
                </div>

                <div class="oj-padding-vertical"></div>

                <div class="oj-flex-item">
                    <button id= "addToCart" data-bind="click: function(data, event) {addToCart(productsToCompare()[0])}, ojComponent: { component: 'ojButton', label: 'Add to Cart'}"></button> 
                </div>

            </td>
            <td>
                <img alt="product" data-bind="attr: {
                        id: 'productImage' + productsToCompare()[1].prdUid, 
                        src: getPhoto(productsToCompare()[1]), 
                        height: large() ? '300' : '150',
                        width: large() ? '300' : '150'}"/>
                <div class="oj-flex-item">
                    <h3 aria-label="product name" data-bind="text: productsToCompare()[1].prdName" tabindex="0"></h3>
                    <div class="product-detail-label">List Price:</div>
                    <div data-bind="text: '$' + productsToCompare()[1].prdPrice"></div>

                    <div class="oj-padding-vertical"></div>

                    <div class="product-detail-label">Discount Price:</div>
                    <div class="product-detail-price" data-bind="text: '$' + productsToCompare()[1].prdCntrUnitPrice + ' (' + productsToCompare()[1].prdCntrDiscount +'%)'"></div>

                </div>

                <div class="oj-padding-vertical"></div>

                <div class="oj-flex-item">
                    <button id= "addToCart" data-bind="click: function(data, event) {addToCart(productsToCompare()[1])}, ojComponent: { component: 'ojButton', label: 'Add to Cart'}"></button> 
                </div>

            </td>
        </tr>
        <tr>
            <td class="product-detail-name">Description</td>
            <td>
                <div class="oj-flex-item ">
                    <div class="product-detail-label">Product Description</div>
                    <div class="product-detail-value" data-bind="foreach: productsToCompare()[0].prdLongDescLines">
                        <p data-bind="text: $data"></p>
                    </div>
                </div>

            </td>
            <td>
                <div class="oj-flex-item ">
                    <div class="product-detail-label">Product Description</div>
                    <div class="product-detail-value" data-bind="foreach: productsToCompare()[1].prdLongDescLines">
                        <p data-bind="text: $data"></p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="product-detail-name">Vendor</td>
            <td>
                <div data-bind="text: productsToCompare()[0].vndUidFk.vndName"></div>
            </td>
            <td>
                <div data-bind="text: productsToCompare()[1].vndUidFk.vndName"></div>
            </td>
        </tr>
        <tr>
            <td class="product-detail-name">SKU</td>
            <td>
                <div data-bind="text: productsToCompare()[0].prdSku"></div>
            </td>
            <td>
                <div data-bind="text: productsToCompare()[1].prdSku"></div>
            </td>
        </tr>
        <tr>
            <td class="product-detail-name">Contract Line Item</td>
            <td>
                <div data-bind="text: productsToCompare()[0].prdCntrLnItm"></div>
            </td>
            <td>
                <div data-bind="text: productsToCompare()[1].prdCntrLnItm"></div>
            </td>
        </tr>
        <tr>
            <td class="product-detail-name">Manufacturer</td>
            <td>
                <div data-bind="text: productsToCompare()[0].prdOemName"></div>
            </td>
            <td>
                <div data-bind="text: productsToCompare()[1].prdOemName"></div>
            </td>
        </tr>
        <tr>
            <td class="product-detail-name">Manufacturer Part Number</td>
            <td>
                <div data-bind="text: productsToCompare()[0].prdOemPartNum"></div>
            </td>
            <td>
                <div data-bind="text: productsToCompare()[1].prdOemPartNum"></div>
            </td>
        </tr>
        <tr>
            <td class="product-detail-name">Product Unit</td>
            <td>
                <div data-bind="text: productsToCompare()[0].prdUnitCd.longDesc"></div>
            </td>
            <td>
                <div data-bind="text: productsToCompare()[1].prdUnitCd.longDesc"></div>
            </td>
        </tr>
        <tr>
            <td class="product-detail-name">Category</td>
            <td>
                <div data-bind="text: productsToCompare()[0].prdCategoryCd.longDesc"></div>
            </td>
            <td>
                <div data-bind="text: productsToCompare()[1].prdCategoryCd.longDesc"></div>
            </td>
        </tr>
    </table>
</div>

<!-- start add cart dialog box -->
<div id="addToCartConfirmationDialogWrapper">
    <div style="display:none" id="addToCartConfirmationDialog" title="Successfully Added to Cart" 
         data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide'}">

        <div class="oj-dialog-body">

            <div class="oj-flex">
                <div class="oj-flex-item">
                    <img alt="product"  data-bind="attr: {src: addedProductPhoto}" height="100" width="100"/>
                </div>

                <div class="oj-flex-item oj-sm-justify-content-center">
                    <span data-bind="text: 'Product '"></span>
                    <span class="confirmation-product-name" data-bind="text: addedProductName"></span>
                    <span data-bind="text: ' has been added to your cart'"></span>
                </div>
            </div>
        </div>
        <div class="oj-dialog-footer">
            <div class="dialogButtonLeft">
                <button id= "continueShopping"
                        data-bind="click: navigateToProductSearch, ojComponent: { component: 'ojButton', label: 'Continue Shopping'}">
                </button> 
            </div>

            <div class="dialogButtonRight">
                <button id= "cart"
                        data-bind="click: navigateToCart, ojComponent: { component: 'ojButton', label: 'View Cart'}">
                </button> 
            </div>

        </div>
    </div>
</div>
<!-- end add cart dialog box-->
