
<!--
 * The MIT License
 *
 * Copyright 2017 OnCore Consulting LLC, 2017
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 * -->
<div id="productSearchWrapperDiv" class="oj-hybrid-padding">

    <!-- Page Title -->
    <div id="pageTitleContainer" class="oj-flex-item oj-sm-12">
        <h2 style="margin-bottom:0">Product Search</h2>
    </div>

    <!-- global error messages -->
    <div class="oj-flex-item oj-messaging-inline-container" id="pageErrorContainer" aria-live="polite" hidden>
        <div class="oj-padding-vertical"></div>
        <div class="oj-message oj-message-error">
            <div class="oj-component-icon oj-message-status-icon oj-message-error-icon" title="Error" role="img"></div>
            <div class="oj-message-content">
                <div class="oj-message-summary">Error</div>
                <div class="oj-message-detail">
                    <span data-bind="text: errorMessage"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- end global error message -->

    <div class="oj-panel oj-flex oj-sm-flex-wrap-nowrap oj-panel-shadow-md">
        <div id="productSearchNavigationPanel" class="oj-panel oj-sm-2 oj-flex-item oj-sm-only-hide" style="min-width: 250px">
            <!-- ko if: user --> 
            <div class="oj-flex oj-panel oj-panel-shadow-md">
                <div class="oj-flex-item">
                    <div class="oj-flex">
                        <div style="font-weight: bold; font-size: 20px; align-content: center" class="oj-flex-item" data-bind="text: 'Cart Summary'"></div>
                    </div>

                    <div class="oj-padding-vertical"></div>

                    <div class="oj-flex oj-flex-items-pad">
                        <div style="font-weight: bold" class="oj-flex-item oj-flex-items-pad oj-sm-4" data-bind="text: 'Items:'"></div>
                        <div class="oj-flex-item" data-bind="text: cartTotalItems"></div>
                    </div>
                    <div class="oj-flex oj-flex-items-pad">
                        <div style="font-weight: bold; padding-top: 10px" class="oj-flex-item oj-flex-items-pad oj-sm-4" data-bind="text: 'Total:'"></div>
                        <div style="padding-top: 10px" class="oj-flex-item" data-bind="text: cartTotalPrice"></div>
                    </div>
                </div>
            </div>
            <!-- /ko -->

            <div class="oj-padding-vertical"></div>

            <!-- Product Left Hand Navigation Panel -->
            <div class="oj-flex">
                <div class="oj-flex-item" id="navlistcontainer" style="max-width:300px" >
                    <div class="oj-navigationlist-item-text-wrap" data-bind="ojComponent:{
                        component: 'ojNavigationList',
                        drillMode: 'collapsible',
                        item: {selectable: itemOnly},
                        selection: selectedProductMenuItem,
                        expanded: ['desktopSystems','desktopComputers'] }">
                        <ul>
                            <li id="desktopSystems" >
                                <a href="#" >Desktop Systems</a>
                                <ul >

                                    <li id="desktopComputers" >
                                        <a href="#" >Desktop Computers</a>
                                        <ul >
                                            <li id="DHST">
                                                <a href="#" data-bind="click: function() {searchProducts('DHST')}">Standard</a>
                                            </li>
                                            <li id="DHPO">
                                                <a href="#" data-bind="click: function() {searchProducts('DHPO')}">Power</a>
                                            </li>
                                            <li id="DHWO">
                                                <a href="#" data-bind="click: function() {searchProducts('DHWO')}" >Workstations</a>
                                            </li>
                                            <li id="DHTH">
                                                <a href="#" data-bind="click: function() {searchProducts('DHTH')}" >Thin Client</a>
                                            </li>
                                            <li id="DHAL">
                                                <a href="#" data-bind="click: function() {searchProducts('DHAL')}" >All in One</a>
                                            </li>
                                        </ul>
                                    </li>


                                    <li id="desktopUpgrades" >
                                        <a href="#" >Desktop Upgrades</a>
                                        <ul >
                                            <li id="DUST">
                                                <a href="#" data-bind="click: function() {searchProducts('DUST')}">Standard</a>
                                            </li>
                                            <li id="DUPO">
                                                <a href="#" data-bind="click: function() {searchProducts('DUPO')}">Power</a>
                                            </li>
                                            <li id="DUWO">
                                                <a href="#" data-bind="click: function() {searchProducts('DUWO')}" >Workstations</a>
                                            </li>
                                            <li id="DUTH">
                                                <a href="#" data-bind="click: function() {searchProducts('DUTH')}" >Thin Client</a>
                                            </li>
                                            <li id="DUAL">
                                                <a href="#" data-bind="click: function() {searchProducts('DUAL')}" >All in One</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <!-- ko if: admin -->
                                    <li id="desktopServices" >
                                        <a href="#" >Desktop Services</a>
                                        <ul >
                                            <li id="DSST">
                                                <a href="#" data-bind="click: function() {searchProducts('DSST')}">Standard</a>
                                            </li>
                                            <li id="DSPO">
                                                <a href="#" data-bind="click: function() {searchProducts('DSPO')}">Power</a>
                                            </li>
                                            <li id="DSWO">
                                                <a href="#" data-bind="click: function() {searchProducts('DSWO')}" >Workstations</a>
                                            </li>
                                            <li id="DSTH">
                                                <a href="#" data-bind="click: function() {searchProducts('DSTH')}" >Thin Client</a>
                                            </li>
                                            <li id="DSAL">
                                                <a href="#" data-bind="click: function() {searchProducts('DSAL')}" >All in One</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- /ko -->
                                </ul>
                            </li>


                            <li id="laptopSystems" >
                                <a href="#" >Laptop Systems</a>
                                <ul >

                                    <li id="laptopComputers" >
                                        <a href="#" >Laptop Computers</a>
                                        <ul >
                                            <li id="LHST">
                                                <a href="#" data-bind="click: function() {searchProducts('LHST')}">Standard</a>
                                            </li>
                                            <li id="LHPO">
                                                <a href="#" data-bind="click: function() {searchProducts('LHPO')}">Power</a>
                                            </li>
                                            <li id="LHUL">
                                                <a href="#" data-bind="click: function() {searchProducts('LHUL')}" >Ultralight</a>
                                            </li>
                                            <li id="LHMO">
                                                <a href="#" data-bind="click: function() {searchProducts('LHMO')}" >Mobile</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li id="laptopUpgrades" >
                                        <a href="#" >Laptop Upgrades</a>
                                        <ul >
                                            <li id="LUST">
                                                <a href="#" data-bind="click: function() {searchProducts('LUST')}">Standard</a>
                                            </li>
                                            <li id="LUPO">
                                                <a href="#" data-bind="click: function() {searchProducts('LUPO')}">Power</a>
                                            </li>
                                            <li id="LUUL">
                                                <a href="#" data-bind="click: function() {searchProducts('LUUL')}" >Ultralight</a>
                                            </li>
                                            <li id="LUMO">
                                                <a href="#" data-bind="click: function() {searchProducts('LUMO')}" >Mobile</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <!-- ko if: admin -->
                                    <li id="laptopServices" >
                                        <a href="#" >Laptop Services</a>
                                        <ul >
                                            <li id="LSST">
                                                <a href="#" data-bind="click: function() {searchProducts('LSST')}">Standard</a>
                                            </li>
                                            <li id="LSPO">
                                                <a href="#" data-bind="click: function() {searchProducts('LSPO')}">Power</a>
                                            </li>
                                            <li id="LSUL">
                                                <a href="#" data-bind="click: function() {searchProducts('LSUL')}" >Ultralight</a>
                                            </li>
                                            <li id="LSMO">
                                                <a href="#" data-bind="click: function() {searchProducts('LSMO')}" >Mobile</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- /ko -->

                                </ul>
                            </li>

                            <li id="monitors" >
                                <a href="#" >Monitors</a>
                                <ul >
                                    <li id="DMMO">
                                        <a href="#" data-bind="click: function() {searchProducts('DMMO')}">Monitors</a>
                                    </li>
                                    <li id="DUMO">
                                        <a href="#" data-bind="click: function() {searchProducts('DUMO')}">Monitor Upgrades</a>
                                    </li>
                                    <!-- ko if: admin -->
                                    <li id="DUMO">
                                        <a href="#" data-bind="click: function() {searchProducts('DSMO')}">Monitor Services</a>
                                    </li>
                                    <!-- /ko -->
                                </ul>
                            </li>

                            <li id="software" >
                                <a href="#" >Software</a>
                                <ul >
                                    <li id="OPSY">
                                        <a href="#" data-bind="click: function() {searchProducts('OPSY')}">OS</a>
                                    </li>
                                    <li id="OFFC">
                                        <a href="#" data-bind="click: function() {searchProducts('OFFC')}">Office</a>
                                    </li>
                                    <li id="UTIL">
                                        <a href="#" data-bind="click: function() {searchProducts('UTIL')}" >Utilities</a>
                                    </li>
                                    <li id="SECC">
                                        <a href="#" data-bind="click: function() {searchProducts('SECC')}" >Security</a>
                                    </li>
                                </ul>
                            </li>

                            <li id="services" >
                                <a href="#" >Independent Services</a>
                                <ul >
                                    <li id="DAAL">
                                        <a href="#" data-bind="click: function() {searchProducts('DAAL')}">Desktop Services</a>
                                    </li>
                                    <li id="LAAL">
                                        <a href="#" data-bind="click: function() {searchProducts('LAAL')}">Laptop Services</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product Search Results Panel -->
        <div id="productSearchWrapperDiv" class="oj-panel oj-flex-item oj-sm-10">
            <div class="justifyCenter">
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item oj-sm-12" style="padding-bottom: 10px">
                        <!-- ko if: user --> 
                        <div class="oj-flex oj-md-hide">
                            <div class="oj-flex-item">
                                <div class="oj-flex oj-flex-items-pad" >
                                    <div style="font-weight: bold;" class="oj-flex-item oj-sm-6" data-bind="text: 'Cart Total:'"></div>
                                    <div class="oj-flex-item" data-bind="text: cartTotalPrice"></div>
                                </div>

                                <hr>

                                <div class="oj-padding-vertical"></div>
                            </div>
                        </div>
                        <!-- /ko -->

                        <div class="oj-flex oj-flex-items oj-sm-align-items-flex-end oj-md-hide ">
                            <label for="productSelect">Product Category: </label>
                        </div>
                        <div class="oj-flex oj-flex-items oj-sm-align-items-flex-end oj-md-hide ">
                            <select id="productSelect" data-bind="ojComponent: {component: 'ojSelect',
                                    optionChange: productSelectChange,
                                                  option: selectedProductMenuItem,
                                                  rootAttributes: {style:'max-width:20em'}}">


                                <optgroup label="Desktop Computers">
                                    <option value="DHST" selected="selected">Standard</option>
                                    <option value="DHPO" >Power</option>
                                    <option value="DHWO" >Workstation</option>
                                    <option value="DHTH" >Thin Client</option>
                                    <option value="DHAL" >All in One</option>
                                </optgroup>
                                <optgroup label="Desktop Upgrades">
                                    <option value="DUST" >Standard</option>
                                    <option value="DUPO" >Power</option>
                                    <option value="DUWO" >Workstation</option>
                                    <option value="DUTH" >Thin Client</option>
                                    <option value="DUAL" >All in One</option>
                                </optgroup>
                                <!-- ko if: admin -->
                                <optgroup label="Desktop Services">
                                    <option value="DSST" >Standard</option>
                                    <option value="DSPO" >Power</option>
                                    <option value="DSWO" >Workstation</option>
                                    <option value="DSTH" >Thin Client</option>
                                    <option value="DSAL" >All in One</option>
                                </optgroup>
                                <!-- /ko -->

                                <optgroup label="Laptop Computers">
                                    <option value="LHST" >Standard</option>
                                    <option value="LHPO" >Power</option>
                                    <option value="LHUL" >Ultralight</option>
                                    <option value="LHMO" >Mobile</option>
                                </optgroup>
                                <optgroup label="Laptop Upgrades">
                                    <option value="LUST" >Standard</option>
                                    <option value="LUPO" >Power</option>
                                    <option value="LUUL" >Ultralight</option>
                                    <option value="LUMO" >Mobile</option>
                                </optgroup>
                                <!-- ko if: admin -->
                                <optgroup label="Laptop Services">
                                    <option value="LSST" >Standard</option>
                                    <option value="LSPO" >Power</option>
                                    <option value="LSUL" >Ultralight</option>
                                    <option value="LSMO" >Mobile</option>
                                </optgroup>
                                <!-- /ko -->

                                <optgroup label="Monitors">
                                    <option value="DMMO">Monitors</option>
                                    <option value="DUMO">Monitor Upgrades</option>
                                    <!-- ko if: admin -->
                                    <option value="DSMO">Monitor Services</option>
                                    <!-- /ko -->
                                </optgroup>

                                <optgroup label="Software">
                                    <option value="OPSY">OS</option>
                                    <option value="OFFC">Office</option>
                                    <option value="UTIL">Utilities</option>
                                    <option value="SECC">Security</option>
                                </optgroup>

                                <optgroup label="Independent Services">
                                    <option value="DAAL">Desktop Services</option>
                                    <option value="LAAL">Laptop Services</option>
                                </optgroup>
                            </select>
                        </div>

                        <!-- Breadcrumbs -->
                        <div id="productSearchBreadcrumbs" class="oj-sm-only-hide">
                            <span data-bind="text: productCategoryBreadcrumbs"></span>
                            <div class="oj-padding-vertical"></div>
                        </div>

                        <div class="oj-flex oj-flex-items oj-sm-align-items-flex-end">

                            <!-- Product search field -->
                            <div class="oj-flex-item oj-sm-8  oj-flex">
                                <div class="oj-flex-item" style="max-width: 400px; white-space: nowrap;  float: left">
                                    <input aria-label="search box" title="Search within the visible products to further filter your results" placeholder="Search within" data-bind="value: nameSearch, valueUpdate: 'afterkeydown', ojComponent: {component: 'ojInputText', rootAttributes:{'style':'max-width:100%;'}}"/>
                                    <div id="searchIcon" class="demo-icon-sprite demo-icon-search demo-search-position"></div>
                                </div>
                            </div>

                            <!-- Product Search Result type -->
                            <div class="oj-flex-item oj-md-down-hide oj-padding-horizontal">
                                <div id="layoutSet" class="oj-buttonset-width-auto" aria-label="Choose layout type."  style="float: right" data-bind="ojComponent: {component: 'ojButtonset', checked: productLayoutType}">
                                    <label for="cardLayout"></label>
                                    <input id="cardLayout" type="radio" name="layoutGroup" value="productCardLayout"
                                           data-bind="click: cardLayoutHandler,  ojComponent: {
                                                component:'ojButton',
                                                display: large() ? 'all' : 'icons',
                                                icons: {start:'demo-grid-icon-16 demo-icon-font'},
                                                label: 'Card'
                                                }"/>
                                    <label for="listLayout"></label>
                                    <input id="listLayout" type="radio" name="layoutGroup" value="productListLayout"
                                           data-bind="click: listLayoutHandler,  ojComponent: {
                                                component:'ojButton',
                                                display: large() ? 'all' : 'icons',
                                                icons: {start:'demo-icon-font demo-list-icon-16'},
                                                label: 'List'
                                                }"/>
                                </div>
                            </div>

                            <!-- Compare products button -->
                            <!-- ko if: user -->
                            <div class="oj-flex-item">                              
                                <button id= "compareProductsButton" type="button" data-bind="click: navigateToCompareProducts, ojComponent: { component: 'ojButton', label: 'Compare'}"></button>                             
                            </div>
                            <!-- /ko -->

                            <!-- Add products button -->
                            <!-- ko if: admin -->
                            <div class="oj-flex-item">                              
                                <button id= "addProductsButton" type="button" data-bind="click: navigateToAddProduct, ojComponent: { component: 'ojButton', label: 'Add Product'}"></button>                             
                            </div>
                            <!-- /ko -->

                        </div>
                    </div>
                </div>

                <!-- Product Search Results (uses either productCardLayout or productListLayout) -->
                <!-- ko if: ready -->
                <div id="productlistview" >
                    <div class="oj-flex oj-flex-items-pad oj-sm-flex-direction-column" data-bind="template: large()?  productLayoutType() : 'productCardLayout'"></div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>

<!-- start add cart dialog box -->
<div id="addToCartConfirmationDialogWrapper">
    <div style="display:none" id="addToCartConfirmationDialog" title="Successfully Added to Cart" 
         data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide'}">

        <div class="oj-dialog-body">

            <div class="oj-flex">
                <div class="oj-flex-item">
                    <img alt="product"  data-bind="attr: {src: addedProductPhoto}" height="100" width="100"/>
                </div>

                <div class="oj-flex-item oj-sm-justify-content-center">
                    <span data-bind="text: 'Product '"></span>
                    <span class="confirmation-product-name" data-bind="text: addedProductName"></span>
                    <span data-bind="text: ' has been added to your cart'"></span>
                </div>
            </div>
        </div>
        <div class="oj-dialog-footer">
            <div class="dialogButtonLeft">
                <button id= "continueShopping"
                        data-bind="click: navigateToProductSearch, ojComponent: { component: 'ojButton', label: 'Continue Shopping'}">
                </button> 
            </div>

            <div class="dialogButtonRight">
                <button id= "cart"
                        data-bind="click: navigateToCart, ojComponent: { component: 'ojButton', label: 'View Cart'}">
                </button> 
            </div>

        </div>
    </div>
</div>
<!-- end add cart dialog box-->

<!-- Product Card View -->
<script id="productCardLayout" type="text/html">
    <div class="oj-flex oj-flex-items-pad">
        <ul id="listviewcard"
            class="oj-flex oj-listview-card-layout"
            data-bind="ojComponent: {component: 'ojListView',
                data: cardViewDataSource,
                rootAttributes: {'style': 'width:100%'},
            item: {template: 'productcard_template'}}">
        </ul>
    </div>
    <div class="oj-flex oj-flex-items-pad">
        <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: cardViewDataSource, pageSize: 20, pageOptions: {layout: [ medium() ? 'auto' : 'nav']}}">
        </div>
    </div>
</script>

<!-- Product Card view (card format)  -->
<script id="productcard_template" type="text/html">
    <li class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-4 oj-xl-3" style="margin:0;border-style:none">
        <div class="oj-panel" style="margin: 5px 0px 10px 0px; min-height: 375px">

            <div data-bind="click: $parent.navigateToProductDetail">

                <div class="oj-flex-item oj-sm-4">
                    <img data-bind="attr: {alt: $data['prdName'],  id: 'productImage' + $data['prdUid'], src: $parent.getPhotoAsync($data['prdUid'])}" height="100" width="100"/>
                </div>
                <div class="oj-flex-item">
                    <h3 aria-label="product description" data-bind="text: $data['prdName']" tabindex="0"></h3>
                    <div class="product-detail-price" data-bind="text: $parent.getPrice($data['prdCntrUnitPrice'])"></div>
                </div>
            </div>

            <!-- ko if: $parent.user -->
            <div class="oj-padding-vertical"></div>
            <div style="position: absolute; bottom: 0px">


                <div class="oj-flex-item" style="margin-bottom: 10px">
                    <input class="product-quantity" id="quantity" data-bind="value: quantity" aria-label="quantity" type="number" min="1" max="1000"/>
                </div>

                <div class="oj-flex-item">
                    <button type="button" class="oj-button oj-enabled oj-default oj-button-full-chrome oj-button-text-only"  id= "addToCart" data-bind="click: $parent.addToCart"><div class="oj-button-label"><span class="oj-button-text">Add to Cart</span></div></button> 
                </div>

                <div class="oj-flex-item" >
                    <div id="compareProductWrapper">
                        <span class="oj-choice-row">
                            <input data-bind="checked: compareProduct, attr: {id: 'compareProduct' + $data['prdUid']}" type="checkbox" value="true">
                            <label style="padding-left: 5px" data-bind="attr: {for: 'compareProduct' + $data['prdUid']}">Compare</label>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </li>
</script>

<!-- Product List view -->
<script id="productListLayout" type="text/html">
    <ul id="listview"
        data-bind="ojComponent: {component: 'ojListView',
                data: cardViewDataSource,
                rootAttributes: {'style': 'width:100%'},
            item: {template: 'productlist_template'}}">
    </ul>
    <div class="oj-flex oj-flex-items-pad">
        <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: cardViewDataSource, pageSize: 20, pageOptions: {layout: [medium() ? 'auto' : 'nav']}}">
        </div>
    </div>
</script>

<!-- Product List view (row format) -->
<script id="productlist_template" type="text/html">
    <li class="oj-flex-item oj-sm-12">
        <div>
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-2" data-bind="click: $parent.navigateToProductDetail">
                    <img style="float: left" height="100" width="100" data-bind="attr: {alt: $data['prdName'],  id: 'productImage' + $data['prdUid'], src: $parent.getPhoto($data)}"/>
                </div>

                <div class="oj-flex-item oj-sm-6" data-bind="click: $parent.navigateToProductDetail">
                    <div class="product-search-name" data-bind="text: $data['prdName']"></div>
                </div>

                <div class="oj-flex-item oj-sm-2">
                    <div class="oj-flex">
                        <div class="oj-flex-item">
                            <div class="product-detail-price" data-bind="text: $parent.getPrice($data['prdCntrUnitPrice'])"></div>
                        </div>
                    </div>

                    <div class="oj-padding-vertical"></div>

                    <!-- ko if: $parent.user -->
                    <div class="oj-flex">
                        <div class="oj-flex-item">
                            <input class="product-quantity" id="quantity" data-bind="value: quantity" aria-label="quantity" type="number" min="1" max="1000"/>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>


                <!-- ko if: $parent.user -->
                <div class="oj-flex-item oj-sm-2 oj-sm-float-end">
                    <button  type="button" class="oj-button oj-enabled oj-default oj-button-full-chrome oj-button-text-only"  id= "addToCart" data-bind="click: $parent.addToCart"><div class="oj-button-label"><span class="oj-button-text">Add to Cart</span></div></button> 

                    <div id="compareProductWrapper">
                        <span class="oj-choice-row">
                            <input data-bind="checked: compareProduct, attr: {id: 'compareProduct' + $data['prdUid']}" type="checkbox" value="true">
                            <label style="padding-left: 5px" data-bind="attr: {for: 'compareProduct' + $data['prdUid']}">Compare</label>
                        </span>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </li>
</script>
