<!--
 * The MIT License
 *
 * Copyright 2017 OnCore Consulting LLC, 2017
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 * -->
<div id="productSearchWrapperDiv" class="oj-hybrid-padding">

    <!-- Page Title -->
    <div id="pageTitleContainer" class="oj-flex-item oj-sm-2">
        <h2 style="margin-bottom:0">Products</h2>
    </div>

    <!-- global error messages -->
    <div class="oj-flex-item oj-messaging-inline-container" id="pageErrorContainer" aria-live="polite" hidden>
        <div class="oj-padding-vertical"></div>
        <div class="oj-message oj-message-error">
            <div class="oj-component-icon oj-message-status-icon oj-message-error-icon" title="Error" role="img"></div>
            <div class="oj-message-content">
                <div class="oj-message-summary">Error</div>
                <div class="oj-message-detail">
                    <span data-bind="text: errorMessage"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- end global error message -->

    <div class="oj-panel oj-flex">

        <!-- Product Left Hand Navigation Panel -->
        <div id="productSearchNavigationPanel" class="oj-panel oj-sm-2 oj-flex-item oj-sm-only-hide" style="min-width: 150px">
            <div id="navlistcontainer" style="max-width:300px" >
                <div data-bind="ojComponent:{
                        component: 'ojNavigationList',
                        drillMode: 'none',
                        item: {selectable: itemOnly},
                        selection: selectedProductMenuItem}">
                    <ul>
                        <li id="hardware" >
                            <a href="#" >Hardware</a>
                            <ul >
                                <li id="DESK">
                                    <a href="#" data-bind="click: function() {searchProducts('DESK')}">Desktops</a>
                                </li>
                                <li id="LAPT">
                                    <a href="#" data-bind="click: function() {searchProducts('LAPT')}">Laptops</a>
                                </li>
                                <li id="MONT">
                                    <a href="#" data-bind="click: function() {searchProducts('MONT')}" >Monitors</a>
                                </li>
                                <li id="PRNT">
                                    <a href="#" data-bind="click: function() {searchProducts('PRNT')}" >Printers</a>
                                </li>
                                <li id="PERI">
                                    <a href="#" data-bind="click: function() {searchProducts('PERI')}" >Peripherals</a>
                                </li>
                            </ul>
                        </li>
                        <li id="software">
                            <a href="#" >Software</a>
                            <ul >
                                <li id="OPSY">
                                    <a href="#" data-bind="click: function() {searchProducts('OPSY')}" >OS</a>
                                </li>
                                <li id="OFFC">
                                    <a href="#" data-bind="click: function() {searchProducts('OFFC')}" >Office</a>
                                </li>
                                <li id="SECC">
                                    <a href="#" data-bind="click: function() {searchProducts('SECC')}" >Security</a>
                                </li>
                                <li id="UTIL">
                                    <a href="#" data-bind="click: function() {searchProducts('UTIL')}" >Utilities</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Product Search Results Panel -->
        <div id="productSearchWrapperDiv" class="oj-panel oj-flex-item">
            <div class="justifyCenter">
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item oj-sm-12" style="padding-bottom: 10px">
                        <div class="oj-flex oj-flex-items oj-sm-align-items-flex-end oj-md-hide ">
                            <label for="productSelect">Product Category: </label>
                        </div>
                        <div class="oj-flex oj-flex-items oj-sm-align-items-flex-end oj-md-hide ">
                            <select id="productSelect" data-bind="ojComponent: {component: 'ojSelect',
                                    optionChange: productSelectChange,
                                                  option: selectedProductMenuItem,
                                                  rootAttributes: {style:'max-width:20em'}}">
                                <optgroup label="Hardware">
                                    <option value="DESK" selected="selected">Desktops</option>
                                    <option value="LAPT" >Laptops</option>
                                    <option value="MONT" >Monitors</option>
                                    <option value="PRNT" >Printers</option>
                                    <option value="PERI" >Peripherals</option>
                                </optgroup>
                                <optgroup label="Software">
                                    <option value="OPSY">OS</option>
                                    <option value="OFFC">Office</option>
                                    <option value="SECC">Security</option>
                                    <option value="UTIL">Utilities</option>
                                </optgroup>
                            </select>
                        </div>

                        <!-- Breadcrumbs -->
                        <div id="productSearchBreadcrumbs" class="oj-sm-only-hide">
                            <span data-bind="text: productCategoryBreadcrumbs"></span>
                            <div class="oj-padding-vertical"></div>
                        </div>

                        <div class="oj-flex oj-flex-items oj-sm-align-items-flex-end">

                            <!-- Product search field -->
                            <div class="oj-flex-item oj-sm-8  oj-flex">
                                <div class="oj-flex-item" style="max-width: 400px; white-space: nowrap;  float: left">
                                    <input aria-label="search box" placeholder="search" data-bind="value: nameSearch, valueUpdate: 'afterkeydown', ojComponent: {component: 'ojInputText', rootAttributes:{'style':'max-width:100%;'}}"/>
                                    <div id="searchIcon" class="demo-icon-sprite demo-icon-search demo-search-position"></div>
                                </div>
                            </div>

                            <!-- Product Search Result type -->
                            <div class="oj-flex-item oj-sm-only-hide  oj-padding-horizontal">
                                <div id="layoutSet" class="oj-buttonset-width-auto" aria-label="Choose layout type."  style="float: right" data-bind="ojComponent: {component: 'ojButtonset', checked: productLayoutType}">
                                    <label for="cardLayout"></label>
                                    <input id="cardLayout" type="radio" name="layoutGroup" value="productCardLayout"
                                           data-bind="click: cardLayoutHandler,  ojComponent: {
                                                component:'ojButton',
                                                display: large() ? 'all' : 'icons',
                                                icons: {start:'demo-grid-icon-16 demo-icon-font'},
                                                label: 'Card'
                                                }"/>
                                    <label for="listLayout"></label>
                                    <input id="listLayout" type="radio" name="layoutGroup" value="productListLayout"
                                           data-bind="click: listLayoutHandler,  ojComponent: {
                                                component:'ojButton',
                                                display: large() ? 'all' : 'icons',
                                                icons: {start:'demo-icon-font demo-list-icon-16'},
                                                label: 'List'
                                                }"/>
                                </div>
                            </div>

                            <!-- Compare products button -->
                            <div class="oj-flex-item">                              
                                <button id= "compareProductsButton" data-bind="click: navigateToCompareProducts, ojComponent: { component: 'ojButton', label: 'Compare'}"></button>                             
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product Search Results (uses either productCardLayout or productListLayout) -->
                <!-- ko if: ready -->
                <div id="productlistview" >
                    <div class="oj-flex oj-flex-items-pad oj-sm-flex-direction-column" data-bind="template: productLayoutType()"></div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>

<!-- start add cart dialog box -->
<div id="addToCartConfirmationDialogWrapper">
    <div style="display:none" id="addToCartConfirmationDialog" title="Successfully Added to Cart" 
         data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide'}">

        <div class="oj-dialog-body">

            <div class="oj-flex">
                <div class="oj-flex-item">
                    <img alt="product image"  data-bind="attr: {src: addedProductPhoto}" height="100" width="100"/>
                </div>

                <div class="oj-flex-item oj-sm-justify-content-center">
                    <span data-bind="text: 'Product '"></span>
                    <span class="confirmation-product-name" data-bind="text: addedProductName"></span>
                    <span data-bind="text: ' has been added to your cart'"></span>
                </div>
            </div>
        </div>
        <div class="oj-dialog-footer">
            <div class="dialogButtonLeft">
                <button id= "continueShopping"
                        data-bind="click: navigateToProductSearch, ojComponent: { component: 'ojButton', label: 'Continue Shopping'}">
                </button> 
            </div>

            <div class="dialogButtonRight">
                <button id= "cart"
                        data-bind="click: navigateToCart, ojComponent: { component: 'ojButton', label: 'View Cart'}">
                </button> 
            </div>

        </div>
    </div>
</div>
<!-- end add cart dialog box-->

<!-- Product Card View -->
<script id="productCardLayout" type="text/html">
    <div class="oj-flex oj-flex-items-pad">
        <ul id="listviewcard"
            class="oj-flex oj-listview-card-layout"
            data-bind="ojComponent: {component: 'ojListView',
                data: cardViewDataSource,
                rootAttributes: {'style': 'width:100%'},
            item: {template: 'productcard_template'}}">
        </ul>
    </div>
    <div class="oj-flex oj-flex-items-pad">
        <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: cardViewDataSource, pageSize: 2, pageOptions: {layout: [ large() ? 'auto' : 'nav']}}">
        </div>
    </div>
</script>

<!-- Product Card view (card format)  -->
<script id="productcard_template" type="text/html">
    <li class="oj-flex-item oj-sm-12 oj-md-6 oj-lg-4 oj-xl-3" style="margin:0;border-style:none">
        <div class="oj-panel oj-panel-alt1" style="margin: 5px 0px 10px 0px;">

            <div data-bind="click: $parent.navigateToProductDetail">

                <div class="oj-flex-item oj-sm-4">
                    <img alt="product image" data-bind="attr: {id: 'productImage' + $data['prdUid'], src: $parent.getPhoto($data)}" height="100" width="100"/>
                </div>
                <div class="oj-flex-item">
                    <h3 aria-label="product description" data-bind="text: $data['prdName']" tabindex="0"></h3>
                    <div data-bind="text: '$' + $data['prdPrice']"></div>
                </div>
            </div>

            <div class="oj-padding-vertical"></div>

            <div class="oj-flex-item">
                <button id= "addToCart" data-bind="click: $parent.addToCart, ojComponent: { component: 'ojButton', label: 'Add to Cart'}"></button> 
            </div>

            <div class="oj-flex-item">
                <div id="compareProduct" aria-labelledby="compare product"
                     data-bind=
                     "ojComponent: {
                        component: 'ojCheckboxset', 
                        value: compareProduct}" >
                    <span class="oj-choice-row">
                        <input id="compareProduct" type="checkbox" value="true">
                        <label for="true">Compare</label>
                    </span>
                </div>
            </div>
        </div>
    </li>
</script>

<!-- Product List view -->
<script id="productListLayout" type="text/html">
    <ul id="listview"
        data-bind="ojComponent: {component: 'ojListView',
                data: cardViewDataSource,
                rootAttributes: {'style': 'width:100%'},
            item: {template: 'productlist_template'}}">
    </ul>
    <div class="oj-flex oj-flex-items-pad">
        <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: cardViewDataSource, pageSize: 2, pageOptions: {layout: [large() ? 'auto' : 'nav']}}">
        </div>
    </div>
</script>

<!-- Product List view (row format) -->
<script id="productlist_template" type="text/html">
    <li class="oj-flex-item oj-sm-12">
        <div>
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-lg-4 oj-md-4" data-bind="click: $parent.navigateToProductDetail">
                    <img alt="product image" class="demo-circular demo-employee-photo" style="float:left;" height="100" width="100" data-bind="attr: {id: 'productImage' + $data['prdUid'], src: $parent.getPhoto($data)}"/>
                    <h2 class="demo-employee-name" data-bind="text: $data['prdName']"></h2>
                </div>

                <div class="oj-flex-item oj-md-4">
                    <div class="demo-employee-tenure" data-bind="text: '$' + $data['prdPrice']"></div>
                </div>

                <div class="oj-flex-item oj-md-4 oj-sm-float-end">
                    <button id= "addToCart" data-bind="click: $parent.addToCart, ojComponent: { component: 'ojButton', label: 'Add to Cart'}"></button>
                    
                     <div id="compareProduct" aria-labelledby="compare product"
                         data-bind=
                         "ojComponent: {
                        component: 'ojCheckboxset', 
                        value: compareProduct}" >
                        <span class="oj-choice-row">
                            <input id="compareProduct" type="checkbox" value="true">
                            <label for="true">Compare</label>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </li>
</script>
