<div id="aboutWrapperDiv" class="oj-hybrid-padding">

    <div class="oj-panel oj-flex oj-panel-shadow-md">

        <div id="aboutPicturePanel" class="oj-panel oj-flex-item">
            <img alt="aboutPicture" src="../css/images/49027.jpg" height="300" width="400"/>
        </div>
        <div id="aboutWrapperDiv" class="oj-panel oj-flex-item oj-flex-end">
            <h2>Profile</h2>
            <div class="oj-padding-vertical" />



            <p><strong><span data-bind="text: userName"></span></strong></p>
            <p><strong><span data-bind="text: userFullName"></span></strong></p>
            <p><strong><span data-bind="text: department"></span></strong></p>
            <p><strong><span data-bind="text: departmentAddress"></span></strong></p>

            <p><strong>CalOrders version: <span data-bind="text: applicationVersion"></span></strong></p>
        </div>
    </div>
</div>
</div>