<!--
 * The MIT License
 *
 * Copyright 2017 OnCore Consulting LLC, 2017
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 * -->
<div id="welcomeWrapperDiv" class="oj-hybrid-padding">

    <div class="oj-panel oj-flex">
        <div id="welcomePicturePanel" class="oj-panel oj-flex-item">
            <img alt="welcomePicture" src="../css/images/482190423.jpg" height="300" width="400"/>
        </div>
        <div id="welcomeWrapperDiv" class="oj-panel oj-flex-item">
            <h2>Welcome to CalOrders</h2>
            <div class="oj-padding-vertical"/>
            <p>CalOrders is a prototype developed by OnCore Consulting, LLC for the California Department of Technology.</p>
            <p>CalOrders simulates an online ordering system, for products and services, designed to support California IT Departments.</p>
            <p>All data in this site is simulated test data and any relation to actual products, services, </p>
            <p>companies, or any other entity is for testing purposes only and </p>
            <p>is not reflective of real product offerings or services.</p>
            <div class="oj-padding-vertical"/>
            <div class="oj-flex">

                <!-- buttons -->
                <div class="oj-flex">    

<!--                    <button id= "registration"
                            data-bind="click: onClickLoadRegistration, ojComponent: { component: 'ojButton', label: 'Register' }">
                    </button>
                    
                    <div class="oj-padding-horizontal"></div>-->

                    <button id= "login" type="button"
                              data-bind="click: onClickLoadLogin, ojComponent: { component: 'ojButton', label: 'Login'}">
                    </button> 
                </div>
                <!-- end buttons -->
                
                <div class="oj-padding-vertical"/>

            </div>
        </div>
    </div>
</div>
